body {
  background: none repeat scroll 0% 0% rgb(59, 75, 84);
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.panel {
  border: 1px solid transparent;
  border-color: rgb(51, 122, 183);
  border-radius: 4px;
  width: 500px;
}
.phead {
  background-color: rgb(51, 122, 183);
  color: rgb(255, 255, 255);
  padding: 10px 15px;
}
.pbody {
  background-color: #cccccc;
  padding: 15px;
}
.button {
  background-color: rgb(51, 122, 183);
  border: 1px solid transparent;
  border-color: rgb(32, 77, 116);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  margin: 7px 15px 17px 0px;
  padding: 6px 12px;
}
